<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="js/angular.js"></script>
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="js/bootstrap.min.js"></script>
<script src="js/scorekeeper.js"></script>
</head>
<body data-ng-app="LCA" data-ng-controller="scoresheetController">
<div class="container">

<table class="table table-striped col-md-8">
	<thead>
	<tr>
	<td data-ng-repeat = "name in playerNames">{{name}}</td>
	</tr>
	</thead>
	<tbody>
	<tr data-ng-repeat = "row in rowArr" >
	<td data-ng-repeat ="data in row track by $index">{{data}}</td>
	</tr>
	<tr id="table-body">
	<td data-ng-repeat= "n in colArr" ><input type="text" id="col{{n}}" data-ng-model=rowData[n] placeholder="{{playerNames[n]}}" /></td>
	</tr>
	<tr data-ng-repeat = "scores in scoreArr " >
	<td data-ng-repeat ="score in scores track by $index" id="cell{{$index}}">{{score}} </td>
	</tr>
	</tbody>
</table>
<button  data-ng-click="add();">add</button>
<button  data-ng-click="stop();">stop</button>
<div><h1>{{winner}}</h1></div>
</div>
</body>
</html>