<!-- ***************    Concepts used in this file    ****************** 
/^([0-9]|0[0-9]|1[0-9]|2[0-9]|3[0-9]|40|XX|xx)$/
	pattern is used for the range matching the intial [0-9] allows single digits from 0 to 9, | symbol is used for "or" to checking if the 
	first pattern fails it should check the next pattern which is 0[0-9] this allows first digit as 0 and next from 0 to 9
	again | symbol is used to max the next pattern 1[0-9] which allows 10 to 19 digits similarly till 40, and XX and xx are also added for
	the shows symbols

Subforms are used to print the validation error messages for the input, as we have used angular 1.2.XX version, it is not possible to 
assign the name of the input dynamically example : <input type = "text" name="someName{{$index}}", hence we cannot reference the dynamically
generated input boxes, for this purpose we have used subforms. In the ng-repeat tag we will create an ng-form name="someName{{$index}}" so
for every loop a new form element will be created with its own form name and input tag, In this way we can map the validation error msg for 
dynamically generated inputs.



-->

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="js/angular.js"></script>
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="js/bootstrap.min.js"></script>
<script src="js/scorekeeper.js"></script>
<link href="css/scorekeeper.css" rel="stylesheet">
<script src="js/LCA.js"></script>
</head>
<body data-ng-app="LCA" data-ng-controller="scoresheetController">
<div id="wrap">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-10 col-md-offset-1">
				<div class="page-header">
					<h1>Least Count</h1>
					<h5>Score Tracker</h5>
				</div>
			</div>
		</div>
	</div>

<div class="container">
<div class="panel panel-default">
<div class="panel-heading clearfix">
<h3 class="panel-title pull-left" id="gameID">our fun Game</h3>
<button class="btn btn-default btn-primary pull-right"  data-ng-click="stop();">Stop</button>
</div>
<table class="table col-md-8">
	<thead>
	<tr>
	<td data-ng-repeat = "name in playerNames">{{name}}</td>
	</tr>
	</thead>
	<tbody>
	<tr data-ng-repeat = "row in rowArr" >
	<td data-ng-repeat ="data in row track by $index">{{data}}</td>
	</tr>
	<tr id="table-body">
	<td data-ng-repeat="n in colArr"><data-ng-form
							name="subform{{$index}}"> <input type="text"
							class="input-text" id="col{{n}}" name="scoreInput" data-ng-model=rowData[n]
							data-ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-9]|3[0-9]|40|XX|xx)$/"
							placeholder="{{playerNames[n]}}" /> <div><span
							data-ng-show="subform{{$index}}.scoreInput.$error.pattern">please
							enter a valid score below 40</span></div></data-ng-form></td>
	</tr>
	<tr data-ng-repeat = "scores in scoreArr " >
	<td data-ng-repeat ="score in scores track by $index" id="cell{{$index}}">{{score}} </td>
	</tr>
	</tbody>
</table>
</div>
<button data-ng-disabled = "winner" class="btn btn-default btn-primary" data-ng-click="add();">add</button>
<button data-ng-hide = "!winner" class="btn btn-default btn-primary" data-ng-click="stats();">Game Stats</button>
<div data-ng-hide="!winner" class="text-center"><h1>Congrats {{winner}}</h1></div>
</div>
	<div id="push"></div></div>
	<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<footer class="text-center">
					<p>&copy; 2016 LCA Company, Inc.</p>
				</footer>
			</div>
		</div>
	</div>
	</div>
</body>

</html>