<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>       
  <session-factory>
   
  <!-- 
    <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
	 
	 <property name="connection.url">jdbc:oracle:thin:@172.16.233.51:1521:dev90</property>
		<property name="connection.username">scott</property>
		<property name="connection.password">tiger</property>
		 -->
		 
		 <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		  <property name='connection.url'>jdbc:mysql://localhost:3306/leastCount</property>
		<property name="hibernate.connection.username">root</property>
		<property name="connection.password">letmein</property>
		
		
		
	<property name="hibernate.connection.isolation">2</property>
    <property name="connection.pool_size">100</property>
   
    <property name="hbm2ddl.auto">update</property>
    <property name="show_sql">true</property>
    <property name="connection.autoReconnect">true</property>
    <property name="connection.autoReconnectForPools">true</property>

	<mapping class="com.leastcount.model.Game" />
	<mapping class="com.leastcount.model.GameDetails" />
	<!-- <mapping class="com.amdocs.corp.model.CorpVersion" />
	<mapping class="com.amdocs.corp.model.CorpDetails" />
	<mapping class="com.amdocs.corp.model.CorpRequestDetails" /> -->
	 
  </session-factory>
</hibernate-configuration>